.categoria-servicio{
    margin: 0 auto;
    width: 70%;
    padding-top: 15%;
}

.btn-primary{
    width: 50%;
    background-color: #2A2F34;
    color: white;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#div-agregar-servicio{
    width: 30%;
}



