
.reservar{
    margin: 0 auto;
    width: 80%;
    padding-top: 15%;
    padding-bottom: 3%;
}

.requerimientos{
    float: left;
    width: 40%;
    padding-bottom: 10%;
}

.caracteristicas-fotos{
    float: left;
    margin-left:  5%;
    width: 45%;
    padding-bottom: 10%;
    z-index: -1;
    position: relative;
}


.btn{
    background-color: #2A2F34;
} 

span{
    color:red;
    font-size: 12px;
}


