.revs{
    margin: 0 auto;
    width: 80%;
    padding-top: 15%;
}
.servicios{
    padding-top: 3%;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 8%;
}

.btn {
    background-color: #2A2F34;
    color: white;
}

h4{
    color: #91700B;
}

